@import "tailwindcss";

@theme {
  --color-p: #000000;
  --color-s: #ffffff;

  --breakpoint-full-ds: 1900px;
  --breakpoint-ds: 1262px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 400px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Azeret Mono", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* .noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  z-index: 1000;
  pointer-events: none;
  background: url("../../public/noise.gif");
}
 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
